
.dm-card {
    background-color: #181818;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
}


.dm-header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.dm-header .img-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 30px;
    margin-left: 10px;
    background-color: #333;
}

.dm-header .text-chat {
    color: white;
    font-style:normal;
    margin: 0;
    font-size: 20px;
}

/* 채팅창 */
.dm-body {
    flex: 1;
    overflow-y: auto;
}

.messages-container {
    padding: 15px;
}

.message-box {
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.userimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 15px;
    background-color: #333;
}


/* 말풍선  */
.message-box.incoming .message {
    background-color: #f1f1f1;
    color: black;
    font-size: 14px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    white-space: pre-line;
    width: fit-content;
    height:fit-content;
    margin-left: 45px;
    margin-bottom: 5px;
    /* flex-grow: 1; */
}

.message-box .count.incoming {
    font-size: 10px;
    color: white;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 10px;
}

.message-time .incoming{
    font-size: 10px;
    color: white;
    margin-left: 50px;

}

.message-box.outgoing .message{
    background-color: #333;
    color: #fff;
    font-size: 14px;
    right: 0;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    white-space: pre-line;
    width: fit-content;
    height:fit-content;
    flex-grow: 1;
    margin-left: auto; 
    margin-right: 15px;
}
.message-box .count.outgoing {
    font-size: 10px;
    color: white;
    display: inline;
    text-align: right;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 10px;
}
.message-time .outgoing{
    font-size: 10px;
    color: white;
    display: inline;
    text-align: right;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 10px;

}

.message-date{
    font-size: 11px;
    font: bold;
    color: white;
    /* background-color: #CCC; */
    border-radius: 15px;
    padding: 5px;
    margin: 0 auto;
    width:fit-content;
}
.message-time{
    font-size: 10px;
    color: white;
    margin: 0 auto;
    display: flex;
    margin-top: 2px;
}


/* 입력창 */
.dm-input {
    /* padding: 5px;
    border-top: 1px solid #ccc; */
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid rgb(63, 63, 63);
}
.dm-input .messageInput{
    width: 90%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 10px;
    padding-left: 10px;
    color: white;
}
.dm-input:focus-within {
    border: 1px solid rgb(110, 110, 110);
}

.dm-input .message-send {
    width: 200px;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    color: white;
}

.dm-input .button-send {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 4px 5px 0 rgba(254,241,100,.14), 0 1px 10px 0 rgba(254,241,100.12), 0 2px 4px -1px rgba(254,241,100.2);
}

.dm-input .button-send:hover {
    /* background-color: #FEF164 ; */
    color: #333;
    background-color: #FEF164;
    border-color: #FEF164;
}
