.profile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
}

.header-text{
    font-weight: 600;
    font-size: 30px;
    display: flex;
    margin-bottom: 1rem;
}

.withdraw-btn {
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 16px;
    color: rgba(156, 163, 175, 1);
    font-size: 14px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.withdraw-btn:hover {
    color: rgba(254, 241, 100,1);
    /* text-decoration: underline rgba(254, 241, 100,1); */
    transform: scale(1.03);
}

/* 전체 컨테이너 */
.profile-edit-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    background-color: #1E1E1E;
    width: 420px;
    margin: 20px auto;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* 프로필 편집 폼 */
.profile-edit-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile-picture-section {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.profile-image-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    width: 125px; 
    height: 125px;
}

.profile-image {
    width: 100%;
    height: 100%;
    background-color: #27a8fc;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* hover 시 흐려짐 */
.profile-image-wrapper:hover .profile-image {
    transform: scale(1.02);
    filter: brightness(0.6);
    /* filter: brightness(0.6) blur(1px); */
}

/* 변경 텍스트 */
.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(107, 114, 128, 0.5);
    color: white;
    font-size: 25px;
    pointer-events: none;
    transition: background-color 0.3s ease;
}

/* hover 시 표시 */
.profile-image-wrapper:hover .hover-overlay {
    display: flex;
}

/* 입력 필드 그룹 */
.form-group {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 8px;
    margin: 0 auto;
}

.form-group-inline {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto; 
}

.half-width {
    width: 48%;
}

.form-label {
    font-size: 14px;
    color: #E5E7EB;
    margin-bottom: 5px;
    font-weight: 500;
    text-align: left;
}

/* 입력 필드 */
.form-input,
.form-select {
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #414141;
    outline: 0;
    background-color: #2A2A2A;
    color: #E5E7EB;
    border-radius: 8px;
    transition: border 0.3s ease, background 0.3s ease;
}

.form-input:focus,
.form-select:focus {
    border-color: #FEF164;
    background-color: #333;
    outline: none;
}
.form-input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.form-input.read-only {
    background-color: #2A2A2A;
    color: #9CA3AF;
    cursor: not-allowed;
}

.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip-wrapper::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background: #1f1f1f;
    border: 1px solid #27a8fc;
    color: #27a8fc;
    padding: 6px 10px;
    border-radius: 6px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    font-size: 12px;
    z-index: 10;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.tooltip-wrapper:hover::after {
    opacity: 1;
}

/* 버튼 그룹 */
.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    gap: 12px;
}

.btn {
    flex: 1;
}

