.P-container{

}
.p-content{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.p-header-1{
    padding-top: 5%;
    font-weight: 600;
    font-size: 35px;
}

.file-input-label {
    cursor: pointer;
    width: 10%;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
}

.p-inp{
    width: 80%;
    background-color: #1E1E1E;
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 2%;
}

/* .input {
    font-size: 13px;
    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    max-width: 60%;
    transition: .4s;
}

.input:hover {
box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.input:focus {
box-shadow: 0 0 0 .15vw #27A8FC;
} */


/* .M-container{
    display: grid;
    place-items: center;
    padding: 25px;
    background-color: #161616;
    box-shadow: 0px 15px 60px #FEF164;
    outline: 1px solid #FEEF03;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;

} */


/* this is a recreation of twitter search in css */
.pform {
    --input-text-color: #fff;
    --input-bg-color: #283542;
    --focus-input-bg-color: transparent;
    --text-color: #949faa;
    --active-color: #1E1E1E;
    --width-of-input: 200px;
    --inline-padding-of-input: 1.2em;
    --gap: 0.9rem;
    }
    /* form style */
    .pform {
    font-size: 0.9rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: var(--width-of-input);
    position: relative;
    isolation: isolate;
    }
    /* a fancy bg for showing background and border when focus. */
    .fancy-bg {
    position: absolute;
    width: 100%;
    inset: 0;
    background: var(--input-bg-color);
    border-radius: 30px;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    /* label styling */
    label {
    width: 100%;
    padding: 0.8em;
    height: 40px;
    padding-inline: var(--inline-padding-of-input);
    display: flex;
    align-items: center;
    }
    
    /* styling of input */
    .input {
    color: var(--input-text-color);
    width: 100%;
    margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
    background: none;
    border: none;
    }
    
    .input:focus {
    outline: none;
    }
    
    .input::placeholder {
    color: var(--text-color)
    }
    /* input background change in focus */
    .input:focus ~ .fancy-bg {
    border: 1px solid var(--active-color);
    background: var(--focus-input-bg-color);
    }
    /* search icon color change in focus */
    .input:focus ~ .search {
    fill: var(--active-color);
    }
    /* showing close button when typing */
    /* .input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
    } */
    /* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
    }