#search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.search_input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 22em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}

.search_input:hover,
.search_input:focus {
    box-shadow: 0 0 1em #00000013;
}

.search_input:focus {
    outline: none;
    background-color: #f0eeee;
}

.search_input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.search_input:focus+.search__button {
    background-color: #f0eeee;
}

.search_button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
}

.search_button:hover {
    cursor: pointer;
}