
.pl-details {
    width: 100%;
    min-height: 240px;
    background-color: #1E1E1E;
    display: flex;
    align-items: flex-end;
    padding: 24px;
    border-radius: 20px 20px 0 0;
    /* box-shadow: inset 0 0 80px rgba(0,0,0,0.3); */
    transition: 0.3s ease-in-out;
    position: relative;
    margin-top: 2%;
}

.plimg {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}
.pltextbox {
    margin-left: 24px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pltitle {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 8px;
}

.plcontents {
    font-size: 15px;
    color: #b3b3b3;
    margin-bottom: 16px;
}

.plUserInfo {
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 15px;
    color: #b3b3b3;
}


/* 플레이버튼 */
.plbtn-container {
    position: absolute;     
    bottom: 24px;            
    right: 24px;             
    display: flex;
    justify-content: center;
    align-items: center;
}

.plbtn-container button {
    position: relative;
    background: conic-gradient(#FEF164, #FEF164);
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.plbtn-container button::before {
    content: "";
    position: absolute;
    width: 88%;
    height: 88%;
    background-color: #1E1E1E;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.plbtn-container button.clicked {
    animation: borderAnimate 0.7s ease-in-out forwards;
}

@keyframes borderAnimate {
    0% {
        transform: rotate(0);
        background: conic-gradient(#FEF164, transparent 20%);
    }
    80% {
        background: conic-gradient(#FEF164, transparent 90%);
    }
    100% {
        transform: rotate(360deg);
        background: conic-gradient(#FEF164, #FEF164);
    }
}

/* play/pause 아이콘 공통 */
.plbtn-container button svg {
    position: relative;
    z-index: 2;
    width: 35px;
    height: 35px;
    color: #FEF164;
    transition: all 0.5s ease;
}

/* play → pause 아이콘으로 변환되는 효과 */
.plbtn-container button.clicked svg {
    animation: iconScale 0.5s ease-in-out forwards;  /* 크기 변화 애니메이션 */
}

/* 아이콘 크기 커졌다가 작아지는 애니메이션 */
@keyframes iconScale {
    0% {
        transform: scale(1); 
        opacity: 1
    }
    50% {
        transform: scale(1.2); 
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* 버튼 팝업 애니메이션 */
@keyframes buttonPop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}



/* 테이블 */

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    color: white;
}

.table thead {
    background-color: transparent;
    border-bottom: 1px solid #2a2a2a;
}

.table thead th {
    padding: 12px 16px;
    font-weight: 500;
    color: #b3b3b3;
    background-color: #121212;
    text-align: center;
}

.table tbody tr {
    transition: background-color 0.2s ease;
    height: 52px; 
    /* background-color: #181818; */
}



.table td {
    padding: 10px 14px;
    vertical-align: middle;
    background-color: transparent;
    border-bottom: 1px solid #1a1a1a;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table td:first-child {
    width: 45px;
    text-align: right;
    color: #b3b3b3;
    font-size: 13px;
}

.table td:nth-child(2) {
    align-items: center;
    gap: 12px;

}

.table td:nth-child(2) img {
    width: 48px;
    height: 48px;
    border-radius: 6px;
    object-fit: cover;
}

.table td:nth-child(3){
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
}
.table td:nth-child(4) {
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
}

.table td:nth-child(5) {
    font-weight: 400;
    color: #b3b3b3;
    
    
}
.table tbody tr:nth-child(odd) {
    background-color: #1b1b1b;
}
.table tbody tr:nth-child(even) {
    background-color: #1f1f1f;    
}
/* .table tbody tr:hover {
    background-color: #2a2a2a;
    transition: background-color 0.3s ease;
} */


/* 편집수정버튼 */
.btn-group {
    position: absolute;
    top: 16px;
    right: 20px;
    display: flex;
    gap: 7px;
    z-index: 10;
}

.editbtn,
.delbtn {
    background-color: transparent;
    position: relative;
    border: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    gap: 8px;
    padding: 10px;
    border-radius: 4px;
    white-space: nowrap;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.editbtn:hover {
    background-color: #FFD16622;
    color: #FFD166;
}

.delbtn:hover {
    background-color: #FF6F6122;
    color: #FF6F61;
}


.icon {
    font-size: 16px;
    transition: color 0.2s ease;
}

.editbtn:hover .icon {
    color: #FFD166;
}

.delbtn:hover .icon {
    color: #FF6F61;
}

/* 좋아요 */
.LikesTooltip {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.tooltip-target {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    }

.tooltip-text {
    visibility: hidden;
    opacity: 0;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 6px;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    transition: opacity 0.2s ease-in-out;
    z-index: 100;
}

.tooltip-target:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
